@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" >
    <div class="col-md´-12">
        <div class="page-header">
            <h2>Our Products<small>trends</small></h2>

        </div>
    </div>
</div>

<div class="row product-container">
    <div class="col-md-3" col-sm-3 col-xs-6 style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">
            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer; height:160px; width:100%"
            img src="~/Content/ProductImages/almondmousse.jpg" />
            
            <div class="caption">
                <hr />
                <h5>Product Name</h5>
                <p>500 £</p>
                <p>Available</p>

            </div>
        </div>
    </div>
</div>